@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'REM', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6CCFF6;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    background-color: #ebdce5a6;
}

#container * {
    margin: auto;
    width: 50%;
    border: 2px solid rgb(91, 10, 10);
    border-radius: 10px;
}

#container input {
    height: 12%;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#container select{
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    height: 12%;
    font-weight: 700;
    font-size: large;
    border: 2px solid rgb(91, 10, 10);
    background-color: #fffeffc6;
}

#container select option {
    text-align: center;
}

#container button {
    width: 25%;
    height: 10%;
    font-size: medium;
    font-weight: 500;
}

.popMsg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0%;
    height: 0%;
    font-size: 0;
    border-radius: 3%;
    font-weight: 700;
    color: whitesmoke;
}

#errorMsg {
    background-color: rgba(200, 36, 36, 0.837);
}

.dismissBtn {
    display: none;
    text-align: center;
    width: 0%;
    height: 0%;
    font-size: 0;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

#responseMsg {
    background-color: rgba(152, 108, 19, 0.837);
}

.popUp {
    animation: errorUp 0.75s ease-out 0s 1 normal forwards;
}

.buttonUp {
    animation: buttonUp 0.75s ease-out 0s 1 normal forwards;
}

.popDown {
    animation: errorUp 0.75s ease-out 0s 1 reverse forwards;
}

.buttonDown {
    animation: buttonUp 0.75s ease-out 0s 1 reverse forwards;
}

@keyframes errorUp {
    0% {
        width: 0%;
        height: 0%;
        font-size: 0;
    }

    100% {
        width: 30%;
        height: 15%;
        font-size: larger;
    }
}

@keyframes buttonUp {
    0% {
        width: 0%;
        height: 0%;
        font-size: 0;
    }

    100% {
        width: 30%;
        height: auto;
        font-size: medium;
        
    }
}

#devMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    background-color: black;
    height: 75%;
    color: white;
    text-align: center;
}

#devMenu * {
    margin: 10px;
}
